[workspace]
resolver = "2"
members = [
    "api",
    "db",
    "db/entity",
    "db/migrations",
    "dto",
    "error",
    "service",
    "security",
    "chess",
    "challenge",
    "tournament",
    "matchmaking",
    "engine"
]

[workspace.dependencies]
regex = "1.10.2"
utoipa = "4.2.0"


